In [2]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('data/topyoutube.csv')
df

               Artist Total Views  100M     Avg
0                 BTS    27,947.9  63.0   7.370
1           Bad Bunny    27,573.4  66.0  14.555
2       Justin Bieber    27,399.7  37.0   3.986
3          Ed Sheeran    26,894.0  39.0   4.609
4        Taylor Swift    24,350.0  38.0   5.716
...               ...         ...   ...     ...
1582  Pietro Lombardi       204.1   NaN   0.022
1583            Duffy       203.2   NaN   0.020
1584          Psirico       201.1   1.0   0.039
1585       Alex Clare       200.8   NaN   0.020
1586       The Avener       200.5   NaN   0.036

[1587 rows x 4 columns]

In [4]:
#Valor em porcentagem de Nulos na base.
df.isnull().sum()/df.shape[0] * 100

Artist          0.000000
Total Views     0.000000
100M           10.775047
Avg             0.000000
dtype: float64

In [ ]:
#Grafico amostragem de Dados da base
df.hist(figsize=(10,10))

In [ ]:
#Resumo estatístico do dataframe
df.describe()

In [21]:
df[df.isnull().any(axis=1)]

               Artist Total Views  100M    Avg
495              Ceca     1,861.6   NaN  0.352
629    Carla's Dreams     1,400.8   NaN  0.361
738           Bushido     1,182.7   NaN  0.129
753      Mr. Children     1,164.3   NaN  0.553
772         Club Dogo     1,121.9   NaN  0.242
...               ...         ...   ...    ...
1581        Snakehips       205.9   NaN  0.020
1582  Pietro Lombardi       204.1   NaN  0.022
1583            Duffy       203.2   NaN  0.020
1585       Alex Clare       200.8   NaN  0.020
1586       The Avener       200.5   NaN  0.036

[171 rows x 4 columns]

In [40]:
#Tratamento dos dados

#Substituindo nulos por "Não informado"
df_fillna = df.fillna('Não informado')

df_avg = df_fillna['Avg']

print(df_avg)

0        7.370
1       14.555
2        3.986
3        4.609
4        5.716
         ...
1582     0.022
1583     0.020
1584     0.039
1585     0.020
1586     0.036
Name: Avg, Length: 1587, dtype: float64

In [42]:
print("Tipo de dados da coluna 'Inscrições':", df_avg['Total Views'])

KeyError: 'Total Views'

In [37]:
df_avg['Total Views'] = df_avg.to_numeric(df_avg['Total Views'], errors='coerce')

df_ordenado = df_avg.sort_values(by='Total Views')

print(df_ordenado)

AttributeError: 'Series' object has no attribute 'to_numeric'

In [25]:
df_fillna.isnull().sum()/df.shape[0] * 100

Artist         0.0
Total Views    0.0
100M           0.0
Avg            0.0
dtype: float64